<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maiquan.aladdin_receadd.mapper.AddressMapper">

  <resultMap id="BaseResultMap" type="com.maiquan.aladdin_receadd.domain.Address">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="TINYINT"/>
    <result column="pid"  property="pid" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List">
	id,name,level,pid
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_xbdistrict
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  
  <select id="getAllProvince" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
	from t_xbdistrict
	where level=1  	
  </select>
  
  <select id="selectByPid" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
	from t_xbdistrict
	where pid=#{pid,jdbcType=INTEGER}
  </select>
  
  
  
  
</mapper>